<% if (!election) { %>
<p>
選択された選挙はデータがありません。
</p>
<% } else { %>
<table class="table">
  <caption><%= election.title %></caption>
  <tr>
    <th>選挙区名</th>
  </tr>
  <% for (i in constituencies) { %>
  <tr>
    <td>
      <a href="/election/<%= election.election_id %>/constituency/<%= constituencies[i].constituency_id %>"><%= constituencies[i].name %></a>
    </td>
  </tr>
  <% } %>
</table>
<% } %>
