<div class="span10">
<h2 class="text-info">私たちの立候補者って？</h2>
<p>
<small>
選挙に入れ子んでいる人なら別ですが、普通一人一人の立候補者について自分一人でシラミつぶしに調べ上げる、って凄く大変です。でも選挙公報や選挙放送だけじゃ自分が知りたいと思っていることはわかりません。<br />
ですので、ここは一つ疑問を感じた人が課題(issue)を挙げ、時間のある人が調べたものを立候補者毎に調べられたところだけ埋めて行く、そんな感じはいかかでしょうか？
</small></p>
</div>