
body {
    padding-bottom: 40px;
    padding-top: 60px;
    color: #666666;
}

#sidebar {
/*	background-color: #BBD8E9*/;
}

/* .table thead tr th {
	text-align: center;
} */
.table thead tr th {
	background-color: #0088CC;
	font-weight: 500;
 	color: #FFFFFF;
}

/* bootstrap override */
.navbar .brand {
	padding-left: 30px;
}

#constituency .accordion-group {
	border: none;
}